* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

header.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('images/headerImg.jpg');
    background-size: cover;
    background-position: center top;
}

h1.title {
    font-size: 2.7rem;
    text-align: center;
}

span {
    color: hsl(40, 100%, 50%);
}

button.anchor {
    width: 150px;
    height: 50px;
    background-color: rgba(230, 50, 50, 0.7);
    border: 2px solid #000;
    margin-top: 20px;
    transition: background-color .3s ease;
}

button.anchor:hover {
    background-color: rgb(230, 50, 50);
}

button.anchor a {
    text-decoration: none;
    color: #000;
    font-size: 2rem;
}

nav.desktop {
    display: none;
}

.hamburger {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: transform .2s ease;
    z-index: 3;
}

.hamburger.active {
    transform: rotate(180deg);
}

.hamburger__container {
    display: flex;
    align-items: center;
    position: relative;
    width: 35px;
    height: 30px;
}

.hamburger__bars {
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #000;
}

.hamburger__bars::before, .hamburger__bars::after {
    content: '';
    display: block;
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #000;
}

.hamburger__bars::before {
    top: -12px;
}

.hamburger__bars::after {
    bottom: -12px;
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 100%;
    width: 100%;
    background-color: #171717;
    transition: transform .2s ease;
    z-index: 2;
}

.hamburger.active + aside {
    transform: translateX(100%);
}

ul {
    list-style: none;
    text-align: center;
}

li.mobile__item a {
    text-decoration: none;
    color: #fff;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 7px;
}

span#marker {
    display: block;
    position: absolute;
    left: 0;
    height: 2px;
    width: 0;
    background-color: hsl(40, 100%, 50%);
    bottom: 8px;
    transition: 0.5s;
    border-radius: 4px;
}

nav.desktop {
    position: fixed;
    top: 0;
    display: none;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 20px 30px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 4;
  }
  
  .menu {
    list-style: none;
  }
  
  .desktop__item a {
    position: relative;
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    font-size: 3rem;
    text-transform: uppercase;
    cursor: pointer;
    will-change: transform;
    transition: color .3s ease;
  }

  .desktop__item a:active {
      color: hsl(40, 100%, 50%);
  }

  .desktop__item a:hover {
    color: hsl(40, 100%, 50%);
  }

@media (min-width: 411px) {
    h1.title {
        font-size: 3rem;
    }
}

@media (min-width: 768px) {
    h1.title {
        font-size: 4.5rem;
    }

    button.anchor {
        width: 200px;
        height: 70px;
        margin-top: 30px;
    }

    button.anchor a {
        font-size: 3rem;
    }

    li.mobile__item {
        font-size: 4rem;
    }

    .hamburger__bars::before {
        top: -15px;
    }

    .hamburger__bars::after {
        top: 15px;
    }
}

@media (min-width: 1024px) {
    h1.title {
        font-size: 6rem;
    }

    button.anchor {
        width: 250px;
        height: 90px;
        margin-top: 35px;
    }

    button.anchor a {
        font-size: 4rem;
    }

    li.mobile__item a {
        font-size: 5.5rem;
    }
}

@media (min-width: 1366px) and (orientation: landscape) {
    nav.mobile {
        display: none;
    }

    .menu {
        display: flex;
        width: 80%;
        margin: 0 auto;
    }

    .hamburger, aside {
        display: none;
    }

    nav.desktop {
        display: flex;
    }
}

section {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    border-bottom: 2px solid hsl(40, 100%, 50%);
    overflow: hidden;
}

section.services h2, section.services h3, section.services p {
    text-align: center;
}

section.services h2 {
    font-size: 3.5rem;
}

section.services h3 {
    font-size: 2.5rem;
}

section.services p {
    font-size: 1.7rem;
}

section.services div.services-bottom {
    display: flex;
    flex-direction: column;
}

section.services img {
    width: 100%;
}

section.services div {
    margin-top: 20px;
}

@media (min-width: 411px) {
    section.services h2 {
        font-size: 3.7rem;
    }

    section.services h3 {
        font-size: 2.7rem;
    }

    section.services p {
        font-size: 1.9rem;
    }
}

@media (min-width: 768px) {
    section.services h2 {
        font-size: 4.5rem;
    }

    section.services h3 {
        font-size: 3.2rem;
    }

    section.services p {
        font-size: 2.3rem;
    }
}

@media (min-width: 1024px) {
    section.services h2 {
        font-size: 6rem;
    }

    section.services h3 {
        font-size: 4rem;
    }

    section.services p {
        font-size: 2.8rem;
    }

    section.services div.services-bottom {
        flex-wrap: wrap;
        flex-direction: row;
    }

    section.services div.services-bottom div.services-container {
        width: 45%;
        margin: 0 auto;
    }
}

@media (min-width: 1366px) and (orientation: landscape) {
    section.services img {
        filter: brightness(70%);
        transition: filter .3s ease, transform .3s ease;
    }

    section.services img:hover {
        filter: brightness(100%);
        transform: scale(1.2);
    }

    div.image-container {
        overflow: hidden;
    }
}

section.projects div.projects-bottom {
    display: flex;
    flex-direction: column;
}

section.projects h2, section.projects h3, section.projects p {
    text-align: center;
}

section.projects h2 {
    font-size: 3.5rem;
}

section.projects h3 {
    font-size: 3.5rem;
}

div.projects-container {
    background-color: #d2d2d2;
    margin: 10px 0;
    padding: 10px;
}

div.projects-container h3 {
    text-align: center;
}

div.projects-container p {
    font-size: 1.8rem;
}

@media (min-width: 411px) {
    section.projects h2 {
        font-size: 3.7rem;
    }

    section.projects h3 {
        font-size: 2.7rem;
    }

    section.projects p {
        font-size: 1.9rem;
    }
}

@media (min-width: 768px) {
    section.projects h2 {
        font-size: 4.5rem;
    }

    section.projects h3 {
        font-size: 3.2rem;
    }

    section.projects p {
        font-size: 2.3rem;
    }
}

@media (min-width: 1024px) {
    section.projects h2 {
        font-size: 6rem;
    }

    section.projects h3 {
        font-size: 4rem;
    }

    section.projects p {
        font-size: 2.8rem;
    }

    section.projects div.projects-bottom {
        flex-direction: row;
        flex-wrap: wrap;
    }

    section.projects div.projects-container {
        width: 45%;
        margin: 20px auto 10px auto;
    }
}
